<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEAGE 2 DC</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../src/style.css">
    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
    <script defer src="../index.js"></script>
</head>
<body>
    <header class="header reg-header">
        <nav class="navbar">    
            <a href="../index.html">   
                <img class="logo" src="../img/logo.png" alt="LINEAGE2DC">
            </a>
            <button class="nav-toggle nav-link" type="button">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="nav-ul">
                <li class="nav-li"><a href="../index.html" class="nav-link">INICIO</a></li>
                <li class="nav-li"><a href="info.html" class="nav-link">INFO</a></li>
                <li class="nav-li"><a href="descargar.html" class="nav-link">DESCARGAR</a></li>

                <li class="nav-li"><a href="" class="nav-link">CONTACTO</a>
                    <ul>
                        <li class="nav-li"><a class="nav-li" target="blank" href="https://www.facebook.com/groups/613033368718649">FACEBOOK</a></li>
                        <li class="nav-li"><a class="nav-li" target="blank" href="https://discord.gg/nxpKgpn6MM">DISCORD</a></li>
                    </ul>
                </li>  

                <li class="nav-li"><a href="recargar.html" class="nav-link">RECARGAR</a></li>
                <li class="nav-li"><a href="registrarse.html" class="nav-link">INGRESAR/REGISTRARSE</a></li>                 
            </ul>
        </nav>
    </header>
   <main class="main-ingresar">
        <div class="container-reg sing-in">
            <div class="welcome-back">
                <div class="message">
                    <h1>Bienvenido nuevamente</h1>
                    <p>Si aun no tiene una cuenta por favor registrese aqui</p>
                    <a class="message-button" href="registrarse.html">Registrarse</a>
                </div>
            </div>
            <form class="formulario">
                <h2 class="create-account">Iniciar Sesion</h2>
                <p class="cuenta-gratis"><a href="registrarse.html">¿Aun no tienes cuenta?</a></p>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Contraseña">
                <input type="button" value="Inisiar Sesion">
            </form> 
        </div>
    </main>
    <footer class="foot inf-grid-footer">
        <h3 class="foot-h3">Siguenos en Nuestras Redes</h3>
        <div class="inf-foot-div">
            <a href="https://discord.gg/nxpKgpn6MM" target="blanck">
            <img class="footer" src="../img/Dis.ico" alt=""></a>
            <a href="https://www.facebook.com/groups/613033368718649" target="blanck">
            <img class="footer" src="../img/Face.png" alt=""></a>
            <a href="#" target="blanck">
            <img class="footer" src="../img/You.svg" alt=""></a>
        </div>
        <div class="inf-foot-div">
            <img class="foot-img" src="../img/logo.png" alt="LineageIIAlfa">
            <img class="foot-img" src="../img/teen.png" alt="teen">           
        </div>
        <div class="legal-div">
            <p class="white text-legal">© 2022 LINEAGE 2 ALFA Corporation. All rights reserved. All trademarks are the property of their respective owners.
            <a class="white text-legal" href="#">Legal Documentation</a>
            <a class="white text-legal" href="#">Legal Policy</a>
        </div>
    </footer>     
</body>      
</html>